<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Employees Management System</a>
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="#" class="nav-link" (click)="onOpenModal('add',null)" data-toggle="#modal">Add Employee</a>
        </li>
      </ul>
    </div>
    <form class="d-flex">
      <input (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel name="key" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{employee?.name}}</h5>
                        <p class="m-0">{{employee?.jobTitle}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{employee?.email}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{employee?.phone}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a href="#" (click)="onOpenModal('edit', employee)" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a href="#" (click)="onOpenModal('delete', employee)" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                    <ul class="social-links list-inline mb-0">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
       
      
    </div>
</div>

<!-- Add employee Modal -->
<div class="modal fade" id="addEmployeeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add an Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form action="" #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
        <label class="col-md-5 pr-1">Name</label>
        <input type="text" ngModel name="name" class="form-control" required="">
        <label class="col-md-5 pr-1">Email</label>
        <input type="text" ngModel name="email" class="form-control" required="">
        <label class="col-md-5 pr-1">Phone Number</label>
        <input type="text"  ngModel name="phone" class="form-control" required="">
        <label class="col-md-5 pr-1">Job Title</label>
        <input type="text"  ngModel name="jobTitle" class="form-control" required="">
        <label class="col-md-5 pr-1">Profile photo</label>
        <input type="text" ngModel name="imageUrl" class="form-control" required="">

        <div class="modal-footer">
          <button id="add-employee-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button [disabled]="addForm.invalid" type="submit" class="btn btn-success">Save Changes</button>
        </div>
       </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit employee Modal -->
<div class="modal fade" id="editEmployeeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
     <form  #editForm="ngForm">
      <div class="modal-body">
        <input type="text" [hidden]="true" ngModel="{{editEmployee?.id}}" name="id"  id='id' class="form-control" value="">
        <input type="text" [hidden]="true" ngModel="{{editEmployee?.employeeCode}}" name="employeeCode"  id='employeeCode' class="form-control" value="">

        <label class="col-md-5 pr-1">Name</label>
        <input type="text" ngModel="{{editEmployee?.name}}" name="name" class="form-control" value="">
        <label class="col-md-5 pr-1">Email</label>
        <input type="text" ngModel="{{editEmployee?.email}}" name="email" class="form-control" required>
        <label class="col-md-5 pr-1">Phone Number</label>
        <input type="text" ngModel="{{editEmployee?.phone}}"  ngModel name="phone" class="form-control" required="">
        <label class="col-md-5 pr-1">Job Title</label>
        <input type="text" ngModel="{{editEmployee?.jobTitle}}" name="jobTitle" class="form-control" value="">
        <label class="col-md-5 pr-1">Profile photo</label>
        <input type="text" ngModel="{{editEmployee?.imageUrl}}" name="imageUrl" class="form-control" value="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="onUpdateEmployee(editForm.value)" type="submit" class="btn btn-success">Submit</button>
      </div>
     </form>
    </div>
  </div>
</div>

<!-- Delete employee Modal -->
<div class="modal fade" id="deleteEmployeeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="text-danger">Are you sure you want to delete {{empToDelete?.name}}?</h5>
         <div class="modal-footer">
          <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="onDeleteEmployee(empToDelete?.id)" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
//Notification for no Employees -->

<div *ngIf="employees?.length ==0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO EMPLOYEES!</h4>
    <p>No Employees were found.</p>
  </div>
</div>